.header{
    background-color:#3B5998;
}
.color-btn{
    background-color: #4267b2;
}
.color-btn:hover{
    background-color: #2f487d;
}
.bodyFacebook{
    background-image: linear-gradient(to top,#d7dcea,white);
}
ul {
    display:inline-block;
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

    li a {
        color: #385898;
        display: block;
        text-align: center;
        padding: 20px 7px;
        text-decoration: none;
    }